h3 {
    text-align: center;
}

div.main-back {
    background-image: url(assets/backgroundlogin.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
}

label {
    font-size: large;
}

div.input-div {
    background-color: rgba(117, 190, 218, 0.5) ;
    border: groove 1em rgba(117, 190, 218, 1);
    border-radius: 2em;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }